<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<%= csrf_meta_tag %>
		<%= render 'layouts/stylesheets' %>
	</head>
	<body>
		<%= render 'layouts/header' %>
		<div class="container">
			<section>
				<% flash.each do |key, value| %>
				<div class="flash <%= key %>"><%= value %></div>
				<% end %>
				<%= yield %>	
			</section>
		</div>
		<%= render 'layouts/footer' %>
		<%= render 'layouts/debug' if Rails.env.development? %>
	</body>
</html>
